@model IEnumerable<WebBanThuoc.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = (User)Session["Login"];
}
@using WebBanThuoc.Models.Login

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Danh Sách Thương Hiệu</h4>
                <button class="btn btn-primary btn-round ml-auto" id="btnAdd">
                    <i class="fa fa-plus"></i>
                    Thêm Mới
                </button>
            </div>
        </div>
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header no-bd">
                            <h5 class="modal-title">
                                <span class="fw-mediumbold">
                                    Thông Tin Thương Hiệu
                                </span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/Brand/Create" method="post">
                            <div class="modal-body">
                                <p class="small">Bạn vui lòng điền đủ thông tin</p>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Tên Thương Hiệu</label>
                                            <input id="addName" name="Name" type="text" class="form-control" placeholder="Vui Lòng Nhập Thông Tin" required>
                                            <input hidden name="UrlImg" id="UrlImg" type="text" class="form-control" required>
                                            <input id="idBrand" hidden name="idBrand" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12  d-flex justify-content-center">
                                        <div class="mr-3">
                                            <button class="btn btn-sm btn-option" type="button" onclick="$('.addImg').trigger( 'click' )" )>Chọn ảnh </button>

                                        </div>

                                        <input class="addImg" id="addImg" hidden type='file' onchange="readURL(this);" accept="image/*" />
                                        <div class=" card-body row file-upload-content" id="file-upload-content" name=btnanh style="margin-top:-2%">

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer no-bd">
                                <button type="submit" id="addRowButton" class="btn btn-primary">Lưu</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên Thương Hiệu</th>
                            <th>Hình ảnh</th>
                            @if (user != null && user.position == true)
                            {
                                <th style="width: 10%">Thao Tác</th>
                            }


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td><img src="@item.url_image" width="50" height="50" class="img-thumbnail" alt="..."></td>
                            @if (user != null && user.position == true)
                            {
                                <td>
                                    <div class="form-button-action">
                                        <button type="button" name="Edit" class="btn btn-link btn-primary btn-lg">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <a href="/Brand/Delete/@item.id" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            }

                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var img = $('#file-upload-content');
                $(this).empty();
                var formdata = new FormData();
                formdata.append('file', input.files[0]);
                var let = "";
                $.ajax({
                    type: 'POST',
                    url: '/File/SaveImg',
                    contentType: false, //Khong co hear
                    processData: false,//Khong Xu Ly Du Lieu
                    data: formdata,
                    success: function (data) {
                        $(img).empty();
                        $("#UrlImg").val(data.path);
                        var let = `<div class="col-auto">
            <input class="txtlinkHinh" value="`+ data.path + `" hidden />
            <img class="file-upload-image" width="230px" height="150px"  src="` + data.path + `" alt="your image" />
        </div>
        <i class="col-auto bi bi-x-circle-fill remove-image " onclick="removeUpload(this)"  style="margin-left:-4% ;margin-top:-1%; font-size: 1.5rem; color: #ff0000"></i>`;
                        $(img).append(let);
                        $(img).show();
                        $(input).val("");
                    }
                });

            };
        }
        $(document).ready(function () {

            $("#btnAdd").click(function () {
                $("#addName").val("");
                $("#UrlImg").val("")
                $("#idBrand").val("")
                $('#addRowModal').modal("show");
                $('#file-upload-content').empty();
            });
            $(document).on('click', 'button[name=Edit]', function () {

                $('#addRowModal').modal("show");

                var id = $(this).closest('tr').find("td:eq(0)").text();
                $.ajax({
                    type: 'GET',
                    url: '/Brand/GetById',
                    data: { id: id },
                    success: function (data) {
                        console.log(data.Brand);
                        $("#addName").val(data.Brand.name);
                        $("#UrlImg").val(data.Brand.url_image)
                        $("#idBrand").val(data.Brand.id)
                        var img = $('#file-upload-content');
                        if (data.Brand.url_image) {
                            var let = `<div class="col-auto">
            <input class="txtlinkHinh" value="`+ data.Brand.url_image + `" hidden />
            <img class="file-upload-image" width="230px" height="150px"  src="` + data.Brand.url_image + `" alt="your image" />
        </div>
        <i class="col-auto bi bi-x-circle-fill remove-image " onclick="removeUpload(this)"  style="margin-left:-4% ;margin-top:-1%; font-size: 1.5rem; color: #ff0000"></i>`;
                            $(img).append(let);
                            $(img).show();
                        }

                    }
                });
            });
        });
    </script>
}

