@model AppBanThuoc.Models.VoucherOrder
@{
    ViewBag.Title = "returnUrl";
}


<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        Thanh Toán Thành Công
    </div>

</div>
