@{ ViewBag.Title = "Index"; }

<div class="about">
    <div class="about-item">
        <div class="begining">
            <div>
                <h2 class="begining-title">
                    Khởi nguồn
                </h2>
                <p class="begining-desc">
                    TMALL được sinh ra từ niềm đam mê đối với mua sắm. Nhằm tạo điều kiện thuận lợi để mọi người có thể mua sắm
                    mọi lúc, mọi nơi. TMALL giúp mọi người có thể lựa chọn những món đồ mình yêu thích chỉ bằng việc lướt web
                    nhằm tiết kiệm thời gian một cách tối ưu nhất.
                </p>
                <p class="good-luck">Chúc các bạn có trải nghiệm mua sắm thật tuyệt vời!!</p>
            </div>
        </div>
    </div>
    <div class="about-item">
        <img src="https://images.unsplash.com/photo-1540959733332-eab4deabeeaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1194&q=80" alt="mall" />
    </div>
@*    <div class="about-item">
        <img src="https://images.unsplash.com/photo-1580793241553-e9f1cce181af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" alt="mall" />
    </div>
    <div class="about-item">
        <p class="good-luck">
            Chúc các bạn mua sắm vui vẻ!!
        </p>
    </div>*@
</div>


