@model Custormer
@{
    ViewBag.Title = "Home Page";
}
@using AppBanThuoc.Models


@{
    if (Model == null)
    {
        <div class="header-right">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="header-account header-account-login ">Đăng nhập</button>
            <button type="button" class="header-account header-account-signup">Đăng kí</button>
        </div>

    }
    else
    {
        <div class="header-right">
            <div class="btn-group">
                <button type="button" style="border:none" class="header-account">@Model.name</button>
                <button type="button" style="border:none ;background-color:white" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Thông Tin Tài Khoản</a></li>
                    <li><a class="dropdown-item" href="/Comestic/GetAllOrder">Theo dõi đơn hàng</a></li>

                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                </ul>
            </div>


        </div>
    }
}
