
@{
    ViewBag.Title = "IntroDoctor";
    Layout = "~/Areas/Customer/Views/Shared/LayoutShare.cshtml";
}

<div class="doctor-intro">
    <div class="doctor-intro-bgimg">
        <img src="https://online.vietskin.vn/image/bg-doctor.png" alt="intro-img">
    </div>
    <div class="doctor-intro-container">
        <div class="doctor-intro-info">
            <div class="doctor-intro-img">
                <img src="https://media.vietskin.vn/media/2e22b801ff3745f4e519fc020f302e8b75354949_387269522224961_4125017544631255040_o.jpg"
                     alt="doctor-avatar">
            </div>
            <div class="doctor-intro-name">
                PGS.TS.BS Đặng Văn Em
            </div>
            <div class="doctor-intro-degree">
                Phó giáo sư, tiến sĩ, bác sĩ
            </div>
            <div class="doctor-intro-address">
                Bệnh viện Trung ương Quân đội 108
            </div>
            <button class="see-a-doctor-intro">
                KHÁM BỆNH VỚI BÁC SĨ
            </button>
        </div>
        <div class="doctor-intro-detail">
            <h1 class="doctor-intro-title">
                Thông tin chi tiết về bác sĩ
            </h1>
            <p>Là một bác sĩ - chuyên gia đầu ngành về da liễu tại Việt Nam với hơn 40 năm kinh nghiệm, PGS.TS.BS Đặng Văn Em luôn sẵn sàng vì bệnh nhân giữ vững tinh thần Thầy thuốc nhân dân</p>
            <div class="doctor-intro-working-process">
                <h2>Quá trình học tập và công tác</h2>
                <p>Chủ nhiệm bộ môn Da liễu Bệnh viện Trung ương Quân đội 108</p>
                <ul>
                    <li>Được trao hàm Phó Giáo Sư năm 2006</li>
                    <li>Khen thưởng Thầy thuốc nhân dân năm 2014</li>
                    <li>Nguyên chủ nhiệm khoa Da liễu Bệnh viện Trung ương Quân đội 108</li>
                    <li>Tốt nghiệp bác sĩ 1978</li>
                    <li>Tám năm tham gia phục vụ chiến trường Campuchia và Biên giới phía Bắc</li>
                </ul>
            </div>
            <div class="doctor-intro-experience">
                <h2>Kinh nghiệm</h2>
                <ul>
                    <li>Được trao hàm Phó Giáo Sư năm 2006</li>
                    <li>Khen thưởng Thầy thuốc nhân dân năm 2014</li>
                </ul>
            </div>
            <div class="doctor-intro-specialized">
                <h2>Chuyên ngành</h2>
                <p>STI, Lông tóc móng, Bệnh trẻ em, Dị ứng</p>
            </div>
        </div>
    </div>
</div>
