@{
    ViewBag.Title = "Index";
}

<div class="doctor">
    <div class="doctor-header">
        <div class="doctor-title">
            <h2>Danh sách bác sĩ</h2>
        </div>
        <div class="doctor-search">
            <form class="doctor-search-form">
                <lable class="form-lable">
                    Lọc theo:
                </lable>
                <select value="1" class="select-specialized">
                    <option value="1">Chuyên ngành</option>
                    <option value="">Bệnh trẻ em</option>
                    <option value="">Bệnh trẻ em</option>
                    <option value="">Bệnh trẻ em</option>
                    <option value="">Bệnh trẻ em</option>
                    <option value="">Bệnh trẻ em</option>
                </select>
                <select value="1" class="select-degree">
                    <option value="1">Bằng cấp</option>
                    <option value="">Bác sĩ nội trú</option>
                    <option value="">Bác sĩ CK1</option>
                    <option value="">Bác sĩ CK2</option>
                    <option value="">Thạc sĩ</option>
                    <option value="">Tiến sĩ</option>
                    <option value="">PGS Tiến sĩ</option>
                    <option value="">Giáo sư Tiến sĩ</option>
                </select>
                <select value="1" class="select-degree">
                    <option value="1">Tỉnh / thành phố</option>
                    <option value="">Tp.HCM</option>
                    <option value="">Bình Thuận</option>
                </select>
                <button class="btn-search">
                    Tìm kiếm
                </button>
            </form>
        </div>
    </div>
    <div class="list-doctor">
        <div class="doctor-profile">
            <div class="doctor-avatar">
                <img src="https://media.vietskin.vn/media/2e22b801ff3745f4e519fc020f302e8b75354949_387269522224961_4125017544631255040_o.jpg"
                     alt="doctor-avatar">
            </div>
            <div class="doctor-info">
                <div class="doctor-name">
                    <h2>PGS.TS.BS Đặng Văn Em</h2>
                </div>
                <div class="doctor-desc">
                    <a>Là một bác sĩ - chuyên gia đầu ngành về da liễu tại Việt Nam với hơn...</a>
                </div>
                <div class="doctor-price">
                    <span class="fee">Phí: 250000Đ/ 7 ngày</span>
                    <button class="see-a-doctor">Tạo phiên khám</button>
                </div>
            </div>
        </div>
        <div class="doctor-profile">
            <div class="doctor-avatar">
                <img src="https://media.vietskin.vn/media/2e22b801ff3745f4e519fc020f302e8b75354949_387269522224961_4125017544631255040_o.jpg"
                     alt="doctor-avatar">
            </div>
            <div class="doctor-info">
                <div class="doctor-name">
                    <h2>PGS.TS.BS Đặng Văn Em</h2>
                </div>
                <div class="doctor-desc">
                    <a>Là một bác sĩ - chuyên gia đầu ngành về da liễu tại Việt Nam với hơn...</a>
                </div>
                <div class="doctor-price">
                    <span class="fee">Phí: 250000Đ/ 7 ngày</span>
                    <button class="see-a-doctor">Tạo phiên khám</button>
                </div>
            </div>
        </div>
        <div class="doctor-profile">
            <div class="doctor-avatar">
                <img src="https://media.vietskin.vn/media/2e22b801ff3745f4e519fc020f302e8b75354949_387269522224961_4125017544631255040_o.jpg"
                     alt="doctor-avatar">
            </div>
            <div class="doctor-info">
                <div class="doctor-name">
                    <h2>PGS.TS.BS Đặng Văn Em</h2>
                </div>
                <div class="doctor-desc">
                    <a>Là một bác sĩ - chuyên gia đầu ngành về da liễu tại Việt Nam với hơn...</a>
                </div>
                <div class="doctor-price">
                    <span class="fee">Phí: 250000Đ/ 7 ngày</span>
                    <button class="see-a-doctor">Tạo phiên khám</button>
                </div>
            </div>
        </div>
        <div class="doctor-profile">
            <div class="doctor-avatar">
                <img src="https://media.vietskin.vn/media/2e22b801ff3745f4e519fc020f302e8b75354949_387269522224961_4125017544631255040_o.jpg"
                     alt="doctor-avatar">
            </div>
            <div class="doctor-info">
                <div class="doctor-name">
                    <h2>PGS.TS.BS Đặng Văn Em</h2>
                </div>
                <div class="doctor-desc">
                    <a>Là một bác sĩ - chuyên gia đầu ngành về da liễu tại Việt Nam với hơn...</a>
                </div>
                <div class="doctor-price">
                    <span class="fee">Phí: 250000Đ/ 7 ngày</span>
                    <button class="see-a-doctor">Tạo phiên khám</button>
                </div>
            </div>
        </div>
        <div class="doctor-profile">
            <div class="doctor-avatar">
                <img src="https://media.vietskin.vn/media/2e22b801ff3745f4e519fc020f302e8b75354949_387269522224961_4125017544631255040_o.jpg"
                     alt="doctor-avatar">
            </div>
            <div class="doctor-info">
                <div class="doctor-name">
                    <h2>PGS.TS.BS Đặng Văn Em</h2>
                </div>
                <div class="doctor-desc">
                    <a href="#">Là một bác sĩ - chuyên gia đầu ngành về da liễu tại Việt Nam với hơn...</a>
                </div>
                <div class="doctor-price">
                    <span class="fee">Phí: 250000Đ/ 7 ngày</span>
                    <button class="see-a-doctor">Tạo phiên khám</button>
                </div>
            </div>
        </div>
    </div>
</div>


