.doctor {
    margin-top: 86px;
}

.doctor-header {
    margin: 0 auto;
    background-image: url("https://online.vietskin.vn/image/bg-doctor.png");
    height: 260px;
    padding-top: 40px;
}

.doctor-title {
    text-align: center;
    margin-bottom: 33px;
}

    .doctor-title h2 {
        font-size: 26px;
        margin-bottom: 33px;
        color: #0251a3;
        font-weight: bold;
    }

.doctor-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-lable {
    font-size: 18px;
    margin-right: 5px;
}

.select-specialized,
.select-degree,
.select-degree {
    padding: 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
}

.select-degree {
    margin: 0 5px;
}

.btn-search {
    color: #fff;
    background: #0251a3;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.list-doctor {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.doctor-profile {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    margin: 20px 30px;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5px;
}

.doctor-avatar img {
    max-width: 100px;
    border-radius: 50%;
}

.doctor-info {
    padding: 0 15px 0 30px;
}

    .doctor-info .doctor-name h2 {
        color: #0251a3;
        margin: 0 0 5px;
        font-size: 18px;
    }

.doctor-desc {
    margin: 20px 0;
}

.doctor-info .doctor-desc a {
    text-decoration: none;
    color: #293b5f;
    font-size: 16px;
    margin-bottom: 10px;
}

.doctor-price .fee {
    color: #28a745 !important;
    font-size: 80%;
    font-weight: 400;
    margin-right: 10px;
}

.doctor-price .see-a-doctor {
    display: inline-block;
    background: #0251a3;
    color: white;
    padding: 3px 8px;
    border-radius: 20px;
    border: 1px solid #0251a3;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}
